.ee_mailchimp_api_key_setup img.ee_mailchimp_apikey_ok {
   width: 20px;
   height: 22px;
   margin: 0 8px 0 8px;
}

.ee_mailchimp_api_key_setup img.ee_mailchimp_apikey_error {
   width: 20px;
   height: 20px;
   margin: 0 8px -4px 8px;
}

.ee_mailchimp_api_key_setup .ee_mailchimp_double_opt {
   padding: 15px 0 10px 15px;
}

.ee_mailchimp_api_key_setup .ee_mailchimp_tips {
   font-size: 12px;
}

.espresso_mailchimp_integration_metabox #espresso-mci-groups-list {
   margin-top: 10px;
}

.espresso_mailchimp_integration_metabox .ee_mailchimp_dropdowns {
   margin: 8px 10px 8px 0;
}
.espresso_mailchimp_integration_metabox #ee-mailchimp-lists {
   max-width: 210px;
}

#ee-mailchimp-groups dd {
   margin-left: 15px;
}

#ee-mailchimp-groups dt {
   margin-bottom: 5px;
   color: #295d6a;
}

div#espresso-mci-list-merge-fields {
   padding-top: 10px;
}

.espresso_mci_merge_fields_tb .nci_asterisk {
   color: #4194aa;
}

table.espresso_mci_merge_fields_tb {
   background: #fafafa;
   margin: 0 auto;
}

.espresso_mci_merge_fields_tb td {
   padding: 2px 5px 0 5px;
}

.espresso_mci_merge_fields_tb th {
   border-bottom: 1px solid #b9e3ee;
   padding: 5px 10px 5px 10px;
   color: #295d6a;
}

.espresso_mci_merge_fields_tb p.ee_mci_list_fields {
   margin-right: 10px;
}

#espresso-mci-list-merge-fields {
   max-width: 280px;
}