.ee_mailchimp_api_key_setup img.ee_mailchimp_apikey_ok {
   width: 20px;
   height: 22px;
   margin: 0 8px 0 8px;
}

.ee_mailchimp_api_key_setup img.ee_mailchimp_apikey_error {
   width: 20px;
   height: 20px;
   margin: 0 8px -4px 8px;
}

.ee_mailchimp_api_key_setup .ee_mailchimp_api_options {
   margin: 35px 0 40px 0;
}

.ee_mailchimp_api_key_setup .ee_mailchimp_double_opt {
   margin-left: 15px;
}

.ee_mailchimp_api_key_setup .ee_mailchimp_tips {
   font-size: 12px;
}

.espresso_mailchimp_integration_metabox #espresso-mci-groups-list {
   margin-top: 10px;
}

.espresso_mailchimp_integration_metabox .ee_mailchimp_dropdowns {
   margin: 8px 10px 8px 0;
}
.espresso_mailchimp_integration_metabox #ee-mailchimp-lists {
   max-width: 210px;
}

#ee-mailchimp-groups dd {
   margin-left: 15px;
}

#ee-mailchimp-groups dt {
   margin-bottom: 1em;
}

div#espresso-mci-list-merge-fields {
   padding-top: 10px;
}

.espresso_mci_merge_fields_tb .nci_asterisk {
   color: #E44064;
}

table.espresso_mci_merge_fields_tb {
	width: 100%;
   margin: 0;
	text-align: left;
}
.espresso_mci_merge_fields_tb thead {
	border-bottom: 1px solid #ccc;
}
.espresso_mci_merge_fields_tb th,
.espresso_mci_merge_fields_tb td {
   padding: 2px 5px 5px;
}
.espresso_mci_merge_fields_tb .ee_mci_list_fields {
   margin: 0;
}
.espresso_mci_merge_fields_tb .ee_event_fields_selects {
   margin: 0;
}

#espresso-mci-list-merge-fields {
   max-width: 275px;
}